<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--配置前端控制器-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--指定sprng-mvc配置文件的路径-->
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>

        <!--服务器启动时就初始化DispatcherServlet-->
        <!--The load-on-startup element indicates that this
        servlet should be loaded (instantiated and have
        its init() called) on the startup of the web
        application.
        The optional contents of these
        element must be an integer indicating the order in
        which the servlet should be loaded.
        If the value is a negative integer, or the element is not
        present, the container is free to load the servlet
        whenever it chooses.
        If the value is a positive integer or 0, the container must load and
        initialize the servlet as the application is
        deployed.
        The container must guarantee that
        servlets marked with lower integers are loaded
        before servlets marked with higher integers.
        The container may choose the order of loading of
        servlets with the same load-on-start-up value.-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>

